@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;

$title: rgba(107, 77, 53, 1);

.page {
    background-color: variables.$primary-color;
    min-height: 100vh;

    padding-top: 5.5rem;

    .content {
        display: flex;

        .container {
            margin-left: 6.625rem;

            width: 57rem;
            height: 31.5rem;

            background: #6B4D35;
            border-radius: 7rem;

            display: flex;

            .image {
                position: relative;
                margin-top: -3.5rem; // normal top (left) will not remove the gap they leave behind
                margin-left: -3rem;

                min-width: 31.375rem;
                height: 35rem;
                border-radius: 7rem;
            }

            .icon {
                position: relative;
                margin-top: 32rem;
                margin-left: -1rem;
                
                width: 6rem;
                height: 6rem;

                color: variables.$secondary-color; // Note: Cannot change, have to use something other than Image Nextjs
                // Or use font like in figma
                transform: rotate(15.93deg);
            }

            .text {
                position: relative;
                margin-right: 1.875rem;
                @include mixins.iCielOldStyle(1.5rem, 2rem, variables.$primary-color);
                width: 100%;

                align-self: center;
            }
        }

        .title {
            @include mixins.iCielCubano(6rem, 7.2rem, variables.$secondary-color);
            align-self: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .footer {
        margin-top: 5rem;
        background-color: variables.$secondary-color;
        width: 100%;
        display: flex;

        .title {
            @include mixins.iCielCubano(2rem, 2.375rem, $title);
        }

        padding-top: 2.3rem;

        .aboutUs {
            width: 60%;

            .title {
                margin-left: 7.5rem;
            }
            .text {
                margin-left: 5.5rem;
                margin-right: 5.5rem;
                margin-top: 2.5rem;
                @include mixins.iCielOldStyle(1.5rem, 2rem, variables.$primary-color);
            }
        }

        .contactUs {
            width: 20%;

            @include mixins.iCielOldStyle(1.5rem, 2rem, variables.$primary-color);
        }

        .account {
            width: 20%;

            margin-top: auto;
            margin-bottom: auto;

            // Should have variable(s) here...
            .logIn {
                margin-bottom: 1rem;
                width: 12.5rem;
                height: 4.625rem;
        
                margin-left: auto;
                margin-right: auto;
        
                text-align: center;
        
                @include mixins.iCielCubano(2.25rem, 2.7rem, variables.$primary-color);
                line-height: 4.625rem;
            }

            .signIn {
                margin-top: 1rem;
                width: 12.5rem;
                height: 4.625rem;
        
                background: variables.$primary-color;
                border-radius: 5rem;
        
                margin-left: auto;
                margin-right: auto;
        
                text-align: center;
        
                @include mixins.iCielCubano(2.25rem, 2.7rem, variables.$secondary-color);
                line-height: 4.625rem;
            }
        }
    }
}