@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;

.page {
    background-color: variables.$primary-color;
    min-height: 100vh;

    .content {
        display: flex;

        .container {
            margin-left: 6.625rem;

            width: 57rem;
            height: 31.5rem;

            background: #6B4D35;
            border-radius: 7rem;

            overflow: visible;

            .image {
                
            }

            .text {

            }
        }
    }

    .footer {
        background-color: variables.$secondary-color;
        width: 100%;
        display: flex;
    }
}