// Combine some of the variables...
@use "variables" as variable;

// Not really sure about the value, but meh...
@mixin tablet() {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin phone() {
    @media (max-width: 600px) {
        @content;
    }
}

// For font
@mixin shortfont($weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin fontICielBC($size, $height, $color) {
    @font-face {
        font-family: 'iCielBC';
        src: url('../fonts/._iCiel Brush Up.ttf');
    }
        

    font-family: 'iCielBC';
    font-style: normal;
    font-weight: 400;
    font-size: $size;
    line-height: $height;

    color: $color;
}