$background-meo: linear-gradient(180deg, rgba(219, 161, 0, 0.365) 25.9%, rgba(238, 196, 79, 0.283407) 48.31%, rgba(254, 222, 132, 0.48) 48.31%, rgba(247, 225, 164, 0.5) 56.09%, rgba(233, 212, 155, 0.305) 67.98%, rgba(233, 212, 155, 0.2) 78.95%, rgba(233, 212, 155, 0.0653572) 78.96%, rgba(233, 212, 155, 0.11) 78.97%);
$navBar-meo: #D4AC2B;
$footer-meo: #000;

// Exercise 3
$primary-color: rgba(207, 200, 154, 1);
$secondary-color: rgba(49, 41, 56, 1);