@use "../styles/variables" as variables;
@use "../styles/mixins" as mixins;

@font-face {
    font-family: 'iCielBC';
    src: url('../fonts/._iCiel Brush Up.ttf');
}

.navBar {
    display: flex;
    height: 4.75rem;

    background-color: variables.$primary-color;
    align-content: center;

    .logo {
        position: relative;

        width: 3.125rem;
        height: 3.125rem;
    }

    .navEle {
        display: flex;

        .ele {
            padding-right: 3.125rem;
            padding-left: 3.125rem;
        }
    }

    .logIn {

    }

    .signIn {
        border-radius: 80px;
        background-color: variables.$secondary-color;

        @include mixins.fontForE3(1.5rem, 1.875rem, variables.$secondary-color);
    }
}