@use "../styles/variables" as variables;
@use "../styles/mixins" as mixins;

.navBar {
    display: flex;
    height: 4.75rem;

    background-color: variables.$primary-color;
    align-items: center;

    padding-right: 3.125rem;
    padding-left: 1rem;

    .logo {
        position: relative;

        width: 3.125rem;
        height: 3.125rem;

        margin-right: 6.25rem;
    }

    .navEle {
        display: flex;

        .ele {
            margin-right: 3.125rem;
            margin-left: 3.125rem;
            @include mixins.iCielCubano(1.5rem, 1.875rem, variables.$secondary-color);
        }
    }

    .buttonArea {
        margin-left: auto;
        display: flex;

        .logIn {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
    
            @include mixins.iCielCubano(1.5rem, 1.875rem, variables.$secondary-color);
        }
    
        .signIn {
            border-radius: 80px;
            background-color: variables.$secondary-color;
    
            padding-left: 2.5rem;
            padding-right: 2.5rem;
    
            @include mixins.iCielCubano(1.5rem, 1.875rem, variables.$primary-color);
        }
    }
}

.container {
    background-image: url("/img/bg-TCS.png");
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 60rem;

    display: flex;

    align-items: center;

    padding-left: 1.875rem;
    padding-right: 1.875rem;

    .searchBar {
        height: 2rem;
        width: 100%;

        background: rgba(203, 198, 168, 0.8);
        border-radius: 80px;

        display: flex;

        align-items: center;
        justify-items: center;

        .input {
            position: relative;
            margin-left: 0.5rem;
            
            background: transparent;
            border: transparent;
            width: 100%;

            &:focus-visible {
                outline: none;
            }
        }
    }

    .TCS {
        @include mixins.fontICielBrushUp(11.25rem, 15.675rem, #E3CBB8);
    }
}