@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;

.page {
    background-color: variables.$primary-color;
    min-height: 100vh;

    padding-left: 2.7rem;
    padding-top: 2rem;

    .firstSection {
        display: flex;
        align-items: center;

        .title {
            margin-left: 1.5rem;
            @include mixins.iCielCubano(2.25rem, 2.7rem, variables.$secondary-color);
        }

        .content {
            margin-top: 2.7rem;
            margin-left: 1.5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 4rem;  

            .ele {
                @include mixins.iCielOldStyle(1.5rem, 2rem, variables.$secondary-color);
                text-align: center;
            }
        }
    }

    .secondSection {
        
    }
}