// Combine some of the variables...
@use "variables" as variable;

@mixin anchorStyle {
    color: variable.$primary-color;
    &:visited {
        color: variable.$secondary-color;
    }
    &:hover {
        color: variable.$neutral-color;
    }
    &:active {
        color: variable.$neutral-color;
    }
}

// Not really sure about the value, but meh...
@mixin tablet() {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin phone() {
    @media (max-width: 600px) {
        @content;
    }
}

// For font
@mixin shortfont($weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}